.create-employee-container {
  display: flex;
  flex-direction: column;
  padding-left: 190px;
  align-items: center;
  //justify-content: center;
  //@include verticalCenter;
  padding-top: 55px;
  width: 100%;
  color :white;
  h2{ padding-bottom: 20px; color:#355506;padding-top: 12px;}
  input{width : 80%;border-radius: 5px;}
}

#create-employee {
  width: 350px;
  padding-bottom: 30px;
  background: linear-gradient(#93ad18, #355506);
  border-radius: 5px;
  

  .input-wrapper {
    width: 350px;
    padding-bottom: 20px;
  }
}

.datepicker-style { background: white;color:#355506;}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

input {
  width: 350px;
}

.first-name{ margin-top: 30px;}
.last-name{ margin-top: 0px;}

.address {
  display: inline-block;
  width : 90px;
  margin-top: 10px;
  padding-bottom: 20px;
  padding-right: -50px;

}

#department {
  padding-bottom: 0px;
}


.formData[data-error]::after {
  content: attr(data-error);
  font-size: 0.6em;
  color: #e54858;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
  opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
  border: 2px solid #e54858;
}

.formData[data-error-visible="false"] .text-control {
  border: 2px solid #3876ac;
}



.save-button-container {
  padding-top: 20px;
}

.save-button {
  padding-top: 0px;
}


.form-error {
  color: red;
}

.modal-style { 
  color: #355506;}