.employees-list-container{
    display: flex;
    flex-direction: column;

    
    padding-left :$vertical-nav-width;
    padding-bottom: $footer-height ;

    width: 100%;
    @include verticalCenter;
    row-gap: 25px;
    color :#355506; 
    

}


.employees-list-container::after {
    content: "";
    background: url("../../assets/img/wealthhealthlogobis.png");
    background-repeat: no-repeat;
    opacity: 0.08;
    top: calc(50% - 440px);
  //  left: calc(44% - 812px/2 + $vertical-nav-width);
    left: calc(50% - 270px);
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

  .employees-list-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   font-size: 20px;
   font-weight: bolder;
   //  transform: scaleX(1.5);
   padding-bottom: 30px;

   img{ padding-right: 30px;}

  }