// General settings //

$font-1: "font-1";

$color-1: #000;

$color-2: #E60000;

$color-3: #FBFBFB;

$width-home : 100%;


@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


li {
  list-style-type: none;
}

#root {
  display: flex;
  flex-direction: row;

  width: $width-home;
  //height: 100%;
}

a{
  text-decoration: none;
}

html {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 0;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}


.main {
  display: flex;
  flex: 1;
  height: 900px;
  
}

.bg-dark {
  background-color: #12002b;
}


.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}




